.quote_title {
  display: flex;
  justify-content: center;
  padding-top: 3vh;
}

.quote {
  display: flex;
  justify-content: space-between;

  .quote_table {
    padding: 5vw;
    width: 50vw;
    height: 80vh;

    button {
      border: none;
      background-color: none;
      color: blue;
      background-color: Transparent;
    }
  }

  .quote_detail {
    padding: 5vw;
    width: 50vw;
    height: 80vh;
  }
}
